/*@font-face {
    font-family: LinLib;
    src: url('LinLibertine_Rah.ttf');
}

body {
  background-color: #EDF2F4;
}

#media {
  font-family: LinLib;
  font-size: 3em;
  color: #2B2D42;
}
.form-control {
  background-color: #F9F9F9;
  margin-top: 20px;
  width: 40%;
  font-family: LinLib;
  font-size: 1.2em;
}

.btn {
  background-color: #8D99AE;
  border: 0px;
}

.btn-primary:hover {
  background-color: #646675;
}

ul {
  background-color: #D90429;
  padding-left: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
}

ul li {
  padding: 15px;
  list-style-type: none;
  margin-top: 2px;
  font-family: LinLib;
}
li {
  background-color: #C5C3C6;
}

li:nth-child(odd) {
  background-color: #DCDCDD;
}

h3 {
  font-size: 2em;
}
p {
  font-size: 20px;
}
*/
